<?xml version='1.1' encoding='UTF-8'?>
<hudson>
  <disabledAdministrativeMonitors>
    <string>jenkins.security.csrf.CSRFAdministrativeMonitor</string>
  </disabledAdministrativeMonitors>
  <version>2.121.2</version>
  <installStateName>RESTART</installStateName>
  <numExecutors>5</numExecutors>
  <mode>NORMAL</mode>
  <useSecurity>true</useSecurity>
  <authorizationStrategy class="hudson.security.ProjectMatrixAuthorizationStrategy">
    <permission>hudson.model.Hudson.Administer:{USERNAME}</permission>
    <permission>hudson.model.Hudson.Administer:api</permission>
    <permission>hudson.model.Hudson.Read:authenticated</permission>
  </authorizationStrategy>
  <securityRealm class="org.jenkinsci.plugins.oic.OicSecurityRealm" plugin="oic-auth@1.4">
    <clientId>jenkins</clientId>
    <clientSecret>{SECRET}</clientSecret>
    <tokenServerUrl>{TOKEN_URL}</tokenServerUrl>
    <authorizationServerUrl>{AUTH_URL}</authorizationServerUrl>
    <userInfoServerUrl>{USERINFO_URL}</userInfoServerUrl>
    <userNameField>preferred_username</userNameField>
    <fullNameFieldName>fullName</fullNameFieldName>
    <emailFieldName>email</emailFieldName>
    <scopes>openid email</scopes>
    <disableSslVerification>true</disableSslVerification>
    <logoutFromOpenidProvider>true</logoutFromOpenidProvider>
    <endSessionUrl>{LOGOUT_URL}</endSessionUrl>
    <postLogoutRedirectUrl>{REDIRECT_URL}</postLogoutRedirectUrl>
    <escapeHatchEnabled>false</escapeHatchEnabled>
    <escapeHatchSecret>{AQAAABAAAAAQNBX0MHf+isIai4/5rlJTx3BKlSMH8wpGhqrqiubN2D4=}</escapeHatchSecret>
  </securityRealm>
  <disableRememberMe>false</disableRememberMe>
  <projectNamingStrategy class="jenkins.model.ProjectNamingStrategy$DefaultProjectNamingStrategy"/>
  <workspaceDir>${ITEM_ROOTDIR}/workspace</workspaceDir>
  <buildsDir>${ITEM_ROOTDIR}/builds</buildsDir>
  <markupFormatter class="hudson.markup.EscapedMarkupFormatter"/>
  <jdks/>
  <viewsTabBar class="hudson.views.DefaultViewsTabBar"/>
  <myViewsTabBar class="hudson.views.DefaultMyViewsTabBar"/>
  <clouds>
    <org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud plugin="kubernetes@1.12.2">
      <name>openshift</name>
      <templates>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>maven</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>0</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>maven</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeSelector></nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-agent-maven-35-centos7:v3.11</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <envVars/>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
        <org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
          <inheritFrom></inheritFrom>
          <name>nodejs</name>
          <privileged>false</privileged>
          <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
          <alwaysPullImage>false</alwaysPullImage>
          <instanceCap>2147483647</instanceCap>
          <slaveConnectTimeout>0</slaveConnectTimeout>
          <idleMinutes>0</idleMinutes>
          <activeDeadlineSeconds>0</activeDeadlineSeconds>
          <label>nodejs</label>
          <serviceAccount>jenkins</serviceAccount>
          <nodeSelector></nodeSelector>
          <customWorkspaceVolumeEnabled>false</customWorkspaceVolumeEnabled>
          <volumes/>
          <containers>
            <org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
              <name>jnlp</name>
              <image>docker.io/openshift/jenkins-agent-nodejs-8-centos7:v3.11</image>
              <privileged>false</privileged>
              <alwaysPullImage>true</alwaysPullImage>
              <workingDir>/tmp</workingDir>
              <command></command>
              <args>${computer.jnlpmac} ${computer.name}</args>
              <ttyEnabled>false</ttyEnabled>
              <resourceRequestCpu></resourceRequestCpu>
              <resourceRequestMemory></resourceRequestMemory>
              <resourceLimitCpu></resourceLimitCpu>
              <resourceLimitMemory></resourceLimitMemory>
              <envVars/>
            </org.csanchez.jenkins.plugins.kubernetes.ContainerTemplate>
          </containers>
          <envVars/>
          <annotations/>
          <imagePullSecrets/>
        </org.csanchez.jenkins.plugins.kubernetes.PodTemplate>
      </templates>
      <serverUrl>https://172.30.0.1:443</serverUrl>
      <serverCertificate>-----BEGIN CERTIFICATE-----
MIIC6jCCAdKgAwIBAgIBATANBgkqhkiG9w0BAQsFADAmMSQwIgYDVQQDDBtvcGVu
c2hpZnQtc2lnbmVyQDE1MzIyODU2NTUwHhcNMTgwNzIyMTg1NDE0WhcNMjMwNzIx
MTg1NDE1WjAmMSQwIgYDVQQDDBtvcGVuc2hpZnQtc2lnbmVyQDE1MzIyODU2NTUw
ggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCpkkLXsvxCbu6SYGFpKMv/
hYxwbY5Eai9pZf+2iL4TEtqF+hrwCgOB4oXZ+0LLcaszbbEqrKRSAbkJoeXFafii
7IUAH02zOC7B9j3d6gTiNMJ/3Q0AjuP37bOXvjDAKaspzB2YYv3Tn/R/0Tm/qprt
bxBxbbBBcvwkYpKbMOqtCRqv+y1WZCBVIBKRrJ89JZLn/NO3j49bHczuDPcG2qM+
2cfTfmpdarwsoXN5OKBOGbFuQ/IaNxBqXzJCMCRHYk7r+Ug3Z1Z2WxVLjrhyvUjX
Whk0bISWsBAQkoJbT67BeUOZ7JzgsGsHS8l8fZ948fyLyD3WpJNf0vRyz7gz5XRf
AgMBAAGjIzAhMA4GA1UdDwEB/wQEAwICpDAPBgNVHRMBAf8EBTADAQH/MA0GCSqG
SIb3DQEBCwUAA4IBAQAb7Rm6tvkfT1biT4uiaEzy43M/p3HEqyHc6B0t2kvOsgbD
FjEc1lL+kbEZiWForTV19hp8VDSa3RH+9Z00+Zi8AXyRj6smdsA1TSlfn8hR55q2
gy0JvY+z4yWN1nbOj2uj1ZVv15NCXl6UiEbV4cDq/7a3AKOM1FeOlzFQLfDPQmqA
Or+FzCmb9qcC/4g7WyDSm8XUJljRtKFVFZdnSW1LIS18kJ+sWUqjYmJ0OP9b7q5G
9yu4OhNe7pilJspYV+3V6wHvPblmxu3zdwTk/ELqI4dN/Llz0kRT7Ez258nAd4zo
pO077lGdsifbJTjmMbrkOzW2o8knqjhV1ERrWT+4
-----END CERTIFICATE-----</serverCertificate>
      <skipTlsVerify>false</skipTlsVerify>
      <addMasterProxyEnvVars>true</addMasterProxyEnvVars>
      <capOnlyOnAlivePods>false</capOnlyOnAlivePods>
      <namespace>test1</namespace>
      <jenkinsUrl>http://172.30.26.218:80</jenkinsUrl>
      <jenkinsTunnel>172.30.143.141:50000</jenkinsTunnel>
      <credentialsId>1a12dfa4-7fc5-47a7-aa17-cc56572a41c7</credentialsId>
      <containerCap>100</containerCap>
      <retentionTimeout>5</retentionTimeout>
      <connectTimeout>0</connectTimeout>
      <readTimeout>0</readTimeout>
      <usageRestricted>false</usageRestricted>
      <maxRequestsPerHost>32</maxRequestsPerHost>
      <podRetention class="org.csanchez.jenkins.plugins.kubernetes.pod.retention.Never"/>
    </org.csanchez.jenkins.plugins.kubernetes.KubernetesCloud>
  </clouds>
  <quietPeriod>1</quietPeriod>
  <scmCheckoutRetryCount>0</scmCheckoutRetryCount>
  <views>
    <hudson.model.AllView>
      <owner class="hudson" reference="../../.."/>
      <name>all</name>
      <filterExecutors>false</filterExecutors>
      <filterQueue>false</filterQueue>
      <properties/>
    </hudson.model.AllView>
  </views>
  <primaryView>all</primaryView>
  <slaveAgentPort>50000</slaveAgentPort>
  <disabledAgentProtocols>
    <string>JNLP-connect</string>
    <string>JNLP2-connect</string>
  </disabledAgentProtocols>
  <label>master</label>
  <nodeProperties/>
  <globalNodeProperties/>
  <noUsageStatistics>true</noUsageStatistics>
</hudson>